body {
    margin: 0vw;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: black;
    overflow-x: hidden;
}

.logo {
    text-transform: uppercase;
    color: rgb(234, 160, 14);
    font-size: xx-large;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    margin: auto;
    padding-left: 100px;
    padding-right: 50px;
}

.logo:hover {
    color: rgb(234, 160, 14);
    text-decoration: none;
}

.form-control::placeholder {
    color: white;
    opacity: 1;
}

.nav-item {
    padding: 0 10px;
}

.col-6 img {
    max-width: 100%;
    height: auto;
}

.tagline {
    font-size: 5vw;
    color: rgb(234, 160, 14);
    text-align: center;
    font-family: 'Caveat', cursive;
    font-weight: bold;
    padding-top: 8vw;
    margin-left: 10vw;
    margin-top: 2vw;
}

@media screen and (max-width: 768px) {
    .tagline {
        font-size: 10vw;
        margin: auto;
    }
}

@media (min-width: 992px) {
    .navbar-nav .nav-item:hover>.dropdown-menu {
        display: block;
    }

    .navbar-nav .nav-item .dropdown-menu,
    .navbar-nav .nav-item .dropdown-menu-sub {
        display: none;
    }

    .navbar-nav .nav-item:hover>.dropdown-menu,
    .navbar-nav .nav-item .dropdown:hover>.dropdown-menu-sub {
        display: block;
    }
}

.dropdown-menu-sub {
    left: 100%;
    top: 0;
    background-color: black;
}

.dropdown-menu-sub .drop {
    color: black;
}

.dropdown-menu-sub img {
    max-width: 100%;
    height: auto;
}

#testimonial-carousel {
    display: flex;
    overflow: hidden;
    height: 50vh;
    /* Adjust the height as needed */
}

.testimonial-container {
    min-width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.testimonial {
    width: 100vw;
    padding: 20px;
    text-align: center;
    color: white;
}

.testimonial:nth-child(even) {
    background-color: #333;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    cursor: pointer;
    font-size: 24px;
    color: white;
    background: none;
    border: none;
    outline: none;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

/* Adjustments for gaming carousel */
.gaming-carousel {
    text-align: center;
}

.gaming-carousel img {
    display: block;
    margin: 0 auto;
    max-width: 80%;
    /* Adjust the width of the images */
    height: auto;
}

.testimonial-card {
    border: 1px solid #dee2e6;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.testimonial-text {
    font-style: italic;
    color: #6c757d;
}

.testimonial-author {
    font-weight: bold;
    margin-bottom: 5px;
}

.testimonial-company {
    color: #6c757d;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    bottom: 0;
    width: 100%;
}

.footer-links {
    margin-top: 10px;
}

.footer-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}